.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	padding: 10px;
	text-align: center;
}
#main {
	filter: blur(6px);
}
#explorer {
	height: 540px;
	max-height: 100%;
	text-align: left;
	padding: 0;
	padding-top: 80px;
	cursor: default;
	background: #FAFAFA;
}
#explorer.save {
	padding-bottom: 40px;
}
#explorer.save #save {
	display: block;
}

/* header */

#explorer #header {
	background: #00589F;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#header h3, #header > i {
	line-height: 15px;
}
#header h3 {
	font-size: 14px;
	padding: 10px;
}
#header > i {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 14px;
	cursor: pointer;
}
#header #dir {
	background: #0078D7;
	padding: 10px 0;
	height: 45px;
}
#dir > *, #directory a {
	margin: 0 5px;
	line-height: 25px;
	font-size: 1.1em;
}
#dir > i {
	margin: 0 10px;
	cursor: pointer;
}
#dir hr {
	background: #00589F;
	width: 1px;
	height: 25px;
	border: 0px none;
}
#dir a i {
	display: block;
}
#header #view {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 45px;
	padding-right: 14px;
}
#view i {
	margin-left: 14px;
	cursor: pointer;
}

/* content */

#explorer #content {
	height: 100%;
	padding: 10px 20px;
	overflow-y: scroll;
}
#content.view-icons > * {
	display: inline-block;
	width: 90px;
	height: 90px;
	vertical-align: top;
	text-align: center;
}
#content.view-icons a > *:before {
	height: 60px;
	width: 60px;
	font-size: 60px;
	display: block;
	margin: 0 auto;
}
#content > * {
	cursor: pointer;
	padding: 2px 0;
	display: block;
}
#content > *:hover, #content > *.hover {
	background: #DCEAF5;
}
.folder:before {
	content: "\f07b";
	font-family: "FontAwesome";
	margin-right: 5px;
	margin-left: 5px;
	width: 14px;
	color: #446CB3;
	display: inline-block;
}
.folder input, .file input {
	width: 100%;
}
.folder, .file {
	overflow: hidden;
}
.file, .file:before {
	line-height: 20px;
	font-size: 16px;
}
.file:before {
    content: url(http://therolf.esy.es/workspace/img/icons/default.svg);
    height: 22px;
    width: 22px;
    display: inline-block;
    margin:-5px 0 -5px 1px;
    vertical-align: middle;
}
.file.php:before {
    content: url(http://therolf.esy.es/workspace/img/icons/php.svg);
}
.file.txt:before {
    content: url(http://therolf.esy.es/workspace/img/icons/default.svg);
}
.file.svg:before {
    content: url(http://therolf.esy.es/workspace/img/icons/svg.svg);
}
.file.css:before {
    content: url(http://therolf.esy.es/workspace/img/icons/css.svg);
}
.file.js:before {
    content: url(http://therolf.esy.es/workspace/img/icons/javascript.svg);
}
.file.psd:before {
    content: url(http://therolf.esy.es/workspace/img/icons/photoshop.svg);
}
.file.ico:before {
    content: url(http://therolf.esy.es/workspace/img/icons/favicon.svg);
}
.file.png:before, .file.jpg:before, .file.jpeg:before, .file.bmp:before {
    content: url(http://therolf.esy.es/workspace/img/icons/image.svg);
}
.file.eot:before, .file.woff:before, .file.woff2:before, .file.ttf:before, .file.otf:before, .file.otc:before, .file.ttc:before {
    content: url(http://therolf.esy.es/workspace/img/icons/font.svg);
}
.file.html:before {
    content: url(http://therolf.esy.es/workspace/img/icons/html.svg);
}
/* CONTEXT MENU */
.custom-menu {
    display: none;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    background: #FAFAFA;
		font-size: .9em;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
filter:progid:DXImageTransform.Microsoft.Shadow(color=#rgba(0, 0, 0, 0.3), Direction=180, Strength=2);
}

/* Each of the items in the list */
.custom-menu li {
    padding: 4px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DCEAF5;
}

/* save menu */
#explorer #save {
	position: absolute;
	background: #F0F0F0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	display: none;
}
#save > * {
	height: 100%;
}
#save #input {
	overflow: hidden;
	padding: 0 10px;
}
#save .floatright {
	width: 100px;
	background: #0078D7;
	color: #fff;
	font-size: .7em;
	height: 100%;
	cursor: pointer;
}
#save > * > input {
	width: 100%;
}